COMTech/Release
COMTech/Debug
COMTech/x64
COMTech/COMTech/bin
COMTech/COMTech/obj
COMTech/CoCar/Debug
COMTech/CoCar/Release
COMTech/CoCar/x64
COMTech/CoCarClient/x64
COMTech/CoCarClient/Debug
COMTech/CoCarClient/Release
PhotoFilter/PhotoFilter/bin
PhotoFilter/PhotoFilter/obj
!PhotoFilter/PhotoFilter/bin/Debug/net7.0-windows/config.cfg
PhotoFilter/PhotoFilterClassLib/bin
PhotoFilter/PhotoFilterClassLib/obj
PhotoFilter/PhotoFilterFilterClassLib/bin
PhotoFilter/PhotoFilterFilterClassLib/obj
SerializeObjects/SerializeObjects/bin
SerializeObjects/SerializeObjects/obj
ToDoApi/ToDoApi/bin
ToDoApi/ToDoApi/obj
UI/WinFormCustomUI/WinFormCustomUI/bin
UI/WinFormCustomUI/WinFormCustomUI/obj
UI/WPFClock/WPFClock/bin
UI/WPFClock/WPFClock/obj
WhoWantsToBeAMillionare/netbeans_17.exe